# зависимости
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# git
.git
.gitignore

# окружение
# .env
# .env.*
# !.env.example

# редакторы
.vscode
.idea
*.swp

# система
.DS_Store
Thumbs.db

# документация
*.md
LICENSE

# Docker
Dockerfile
.dockerignore
docker-compose*.yml